.console-dpad-btn {
  position: absolute;
  left: 10px;
  background-repeat: none;
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
  display: inline-block;
}

.console-dpad-btn .dpad-btn {
  background-color: transparent;
  position: absolute;
  border: 0;
  outline: none;
}

