.joystick button {
  position: absolute;
  border: 0;
  outline: none;
}

.console-dpad-btn {
  position: absolute;
  background-repeat: none;
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
  display: inline-block;
}

.portrait .console-dpad-btn {
  width: 34vw;
  height: 34vw;
  left: 10px;
}

.landscape .console-dpad-btn {
  width: 13.35vw;
  height: 13.35vw;
  top: calc(100vw / 1.75 / 3.16); /* Screen.width / Console.height / 3.16 */
}

.console-dpad-btn .dpad-btn {
  background-color: transparent;
}

.joystick button.active,
.joystick:active button:hover {
  background-color: #000;
  opacity: .4;
}

.dpad-btn[data-joykey="LEFT"] {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: calc(100% / 2);
  height: calc(100% / 3);
}

.dpad-btn[data-joykey="UP"] {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% / 3);
  height: calc(100% / 2);
}

.dpad-btn[data-joykey="RIGHT"] {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: calc(100% / 2);
  height: calc(100% / 3);
}

.dpad-btn[data-joykey="DOWN"] {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% / 3);
  height: calc(100% / 2);
}

.portrait .console-dpad-btn {
  bottom: 14%;
}

.landscape .console-dpad-btn {
  left: 4.88%;
  background-image: none!important;
}

.joystick .circle-btn {
  position: absolute;
  border-radius: 50%;
  border: none;
  outline: none;
}

.landscape .circle-btn {
  width: 7vw;
  height: 7vw;
  font-size: 3vw;
}

.landscape .circle-btn:active {
  background-color: #000;
  opacity: .4;
}

.landscape .circle-btn[data-joykey="A"] {
  top: calc(100vw / 1.75 / 2.91);
  right: 2.5%;
}

.landscape .circle-btn[data-joykey="B"] {
  top: calc(100vw / 1.75 / 2.51);
  right: 12.1%;
}

.portrait button {
  background-color: #111;
  color: #FFF;
}

.portrait .circle-btn {
  width: 15vw;
  height: 15vw;
  font-size: 6vw;
}

.portrait .circle-btn.active,
.portrait .circle-btn:active {
  opacity: .7;
}

.portrait .circle-btn[data-joykey="A"] {
  right: 10px;
  bottom: 24%;
}

.portrait .circle-btn[data-joykey="B"] {
  right: calc(15vw + 10px + 10px);
  bottom: 20%;
}

.rectangle-btn {
  /* background:  */
}

.portrait .rectangle-btn[data-joykey="L"],
.portrait .rectangle-btn[data-joykey="R"] {
  bottom: 42%;
  width: calc(100vw / 4);
  height: calc(8vw);
  font-size: 4vw;
}

.portrait .rectangle-btn[data-joykey="L"] {
  left: 0;
}

.portrait .rectangle-btn[data-joykey="R"] {
  right: 0;
}

.portrait .rectangle-btn[data-joykey="START"],
.portrait .rectangle-btn[data-joykey="SELECT"] {
  bottom: 5%;
  left: 50%;
  width: calc(7vw * 2);
  height: calc(5vw);
  font-size: 3vw;
  border-radius: 30%;
}

.portrait .rectangle-btn[data-joykey="START"] {
  transform: translateX(50%);
  margin-right: -2%;
}

.portrait .rectangle-btn[data-joykey="SELECT"] {
  transform: translateX(-50%);
  margin-left: -2%;
}

.landscape .rectangle-btn[data-joykey="R"],
.landscape .rectangle-btn[data-joykey="L"] {
  top: calc(100vw / 1.75 / 25);
  width: calc(100vw / 4);
  height: calc(100vw / 1.75 / 11);
  border-radius: 30%;
  font-size: calc(2vw);
  background-color: transparent;
}

.landscape .rectangle-btn[data-joykey="L"] {
  transform: rotate(-15deg);
  left: calc(-5vh);
}

.landscape .rectangle-btn[data-joykey="R"] {
  transform: rotate(15deg);
  right: calc(-5vh);
}

.landscape .rectangle-btn[data-joykey="START"],
.landscape .rectangle-btn[data-joykey="SELECT"] {
  background-color: transparent;
  color: #FFF;
  width: calc(100vw / 8.3);
  transform: rotate(14deg);
  border-radius: 20%;
  height: calc(100vw / 1.75 / 14);
  text-indent: -15px;
  font-size: 2vw;
}

.landscape .rectangle-btn[data-joykey="SELECT"] {
  top: calc(100vw / 1.75 / 1.57);
  left: calc(8.70vw);
}

.landscape .rectangle-btn[data-joykey="START"] {
  top: calc(100vw / 1.75 / 1.35);
  left: calc(8.45vw);
}

